<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Access</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <div class="spacer"></div>
    <div class="centre">
        <h1>Retrieve Emergency Information</h1>
        <p>Access emergency information by logging in with your YubiKey.</p>
        {% if authenticated %}
            <p><a href="/emergency">Access Emergency Information</a></p>
            <p><a href="/logout">Logout</a></p>
        {% else %}
            <p><a href="/login">Login with YubiKey</a></p>
        {% endif %}
    </div>
</body>

</html>